<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="./cs/style.css">
<link rel="shortcut icon" href="./images/clock.png" type="images/png">

</head>
<body>

 {{>navbar}}

<!-- main header -->

<div class="container-fluid main_header my-4">

      <div class="row">

         <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                   <!-- main header right -->
                   <div class="robins col-md-6 col-12 main_header_right">
                    <figure>

                     <img id="boruto" src="images/boruto.png" class="img-fluid" title="robins-img" alt="">

                      </figure>
                      </div>


                      <div class="robins col-md-6 col-12 main_header_left align-items-center">
                            <p></p>
                            <h2> I am a mern stack developer and a free lancer</h2>
                            <a href="https://github.com/robinsranjan?tab=repositories"><button class="bst">About Me</button></a>
                       </div>
                   <!-- right side div -->
                   
                </div>



        </div>
    </div>    
</div>
 

{{>footer}}









    
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</html>